<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Voting Demo</title>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/styles/custom.css">
  </head>
  <body>
   <h2>2016 Presidential Ballot</h2>
   <span id="directions">Tap on a candidate to vote</span>

  <form method="post" action="/voter/bernie">
    <div class="candidate" id="bernie" onClick="javascript:this.parentNode.submit()">
      <img class="portrait" src="/assets/bernie.jpg">
      <div class="name"> Bernie </div>
      <div class="vote"> {{ bernie }} </div>
    </div>
  </form>

  <form method="post" action="/voter/cruz">
    <div class="candidate" id="cruz" onClick="javascript:this.parentNode.submit()">
      <img class="portrait" src="/assets/cruz.jpg">
      <div class="name"> Cruz</div>
      <div class="vote"> {{ cruz }} </div>
    </div>
  </form>

  <form method="post" action="/voter/hillary">
    <div class="candidate" id="hillary" onClick="javascript:this.parentNode.submit()">
      <img class="portrait" src="/assets/hillary.jpg">
      <div class="name"> Hillary </div>      
      <div class="vote"> {{ hillary }} </div>
    </div>
  </form>

  <form method="post" action="/voter/trump">
    <div class="candidate" id="trump" onClick="javascript:this.parentNode.submit()">
      <img class="portrait" src="/assets/trump.jpg">
      <div class="name"> Trump </div>
      <div class="vote"> {{ trump }} </div>
    </div>
  </form>

  </body>
</html>
